$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;

// project primary colors :
$desaturated-dark-cyan:#5ba4a4;

// project natural colors : 
$light-grayish-cyan:#effafa;
$light-grayish-cyan-filters:#eef6f6;
$dark-grayish-cyan:#7b8e8e;
$very-dark-grayish-cyan:#2c3a3a;

