<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!-- General meta tags needed-->
        <meta charset="utf-8">
        <!-- Needed for responsive design -->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- custom browser colors on mobile -->
        <meta name="theme-color" content="#1843c1" />
        <meta name="apple-mobile-web-app-status-bar-style" content="#1843c1">

        <link rel="icon" type="image/png" sizes="32x32" href="./images/favicon-32x32.png">
        <title>Frontend Mentor | Job Listings</title>

        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap" rel="stylesheet"> 
        
        <!-- CSS File and styling-->
        <link rel="stylesheet" href="app/dist/style.css">

        <!-- Feel free to remove these styles or customise in your own stylesheet 👍 -->
        <style>
            .attribution { font-size: 11px; text-align: center; }
            .attribution a { color: hsl(228, 45%, 44%); }
        </style>

        <!-- Import Vue.js -->
        <script src="https://unpkg.com/vue@3"></script>
    </head>
    <body>
        <!-- top banner -->
        <header role="banner">
            
        </header>

        <!-- vue app, includes the filter bar and job cards -->
        <main role="main" id="vueApp"> 
            
            <div class="wrapper">
                <Transition name="fade">
                    <div class="filterBar" v-show="filterList.length">
                        <div class="FTWrapper">
                            <div class="filterTags" v-for="tag in filterList" :key="tag">
                                <p class="tag">{{tag}}</p>
                                <button class="deselect" @click="filterDeselect(tag)"></button>
                            </div>
                        </div>
                        <button class="clear" @click="filterClear()">Clear</button>
                    </div>
                </Transition>

            </div>
            

            <div class="jobList">
                
                <job-card v-for="job in jobsData" :key="job.id" :job="job" :filter="filterList" @add-filter="filterPush"></job-card>
                
            </div>
            
            
        </main>
        <footer role="contentinfo">
            <div class="attribution">
                Designed by <a href="https://www.frontendmentor.io?ref=challenge" target="_blank">Frontend Mentor</a>. 
                Coded by <a href="https://dev.anasali.info/">Anas Ali</a>.
            </div>
        </footer>


        <!-- JavaScript File -->
        <script src="app/dist/all.js"></script>

        <!-- import Vue components (redundent if using javascript minifier)-->
        <!-- <script src="./app/js/VueComps/job-card.js"></script> -->
        

        <!-- Vue mounting -->
        <script> const mountedApp = VueApp.mount('#vueApp'); </script> 
    </body>
</html>